<mat-form-field appearance="fill">
  <mat-label>Tags</mat-label>
  <mat-chip-grid #chipList aria-label="Search for or create a tag...">
    <mat-chip-row
      *ngFor="let tag of selectedTags"
      (removed)="remove(tag)"
      matTooltipPosition="above"
      [matTooltip]="tag.description"
    >
      {{tag.key}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input
      placeholder="Search for tag..."
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="selected($event)"
                    (change)="$event.preventDefault()"
  >
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.key">
      {{tag.key}} {{tag.description ? '-' : ''}} {{tag.description}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint>Already created tags can be found here</mat-hint>
</mat-form-field>
