@use '@angular/material' as mat;


$dark-primary: mat.define-palette(mat.$amber-palette);


#person {
  height: 64px;
}

.link {
  display: block;
  width: 100px;
  height: 30px;
}

#menuoption {
  position: relative;
  left: -18px;
  color: blue;
  background: mat.get-color-from-palette($dark-primary);
}

