<div id="person">
  <ng-container *ngIf="authService.isSignedIn">
    {{authService.user?.displayName}}
    {{authService.user?.photoURL}}
  </ng-container>
</div>

<a (click)="sideBar.toggle()"
   *ngFor="let link of links"
   [routerLink]="link.link"
   class="link">
  <mat-icon>{{link.icon}}</mat-icon>

  <span>
    {{link.title}}
  </span>
</a>


<button (click)="loginLogoff()" mat-flat-button class="dark-theme-side-nav"
        id="menuoption"><mat-icon>login</mat-icon> {{authService.isSignedIn ? 'Logoff' : 'Login'}} </button>

