<mat-form-field class="single-line-field">
  <mat-label>Name</mat-label>
  <input [formControl]="nameControl" matInput placeholder="Short descriptive name">
  @if (hasError(nameControl, 'required')) {
    <mat-error>Required</mat-error>
  }
</mat-form-field>

<mat-form-field class="single-line-field">
  <mat-label>URL</mat-label>
  <textarea [formControl]="urlControl"
    cdkTextareaAutosize
    matInput
    placeholder="http(s)://..."
    >
  </textarea>
  @if (hasError(urlControl, 'required')) {
    <mat-error>Required</mat-error>
  }
  @if (hasError(urlControl, 'pattern')) {
    <mat-error>Doesn't look like a valid URL</mat-error>
  }
</mat-form-field>

<mat-form-field class="single-line-field">
  <mat-label>Description</mat-label>
  <textarea [formControl]="descriptionControl" matInput placeholder="description" cdkTextareaAutosize>
  </textarea>
  <mat-hint>This is searchable, and displayed in a tooltip</mat-hint>
  @if (hasError(descriptionControl, 'required')) {
    <mat-error>Required</mat-error>
  }
</mat-form-field>

<app-tag-selector
  [formControl]="tagsControl"
  class="single-line-field"
></app-tag-selector>
