<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Tags</mat-label>
  <mat-chip-list #chipList aria-label="Search or create tag...">
    <mat-chip
      (removed)="remove(tag)"
      *ngFor="let tag of selectedTags"
      [color]="getTagColor(tag)"
      matTooltipPosition="above"
      [matTooltip]="tag.description"
      selected="true"
    >
      {{tag.key}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Search for tag..."
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.key">
      {{tag.key}} - {{tag.description}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
