.single-line-field{
  display: block;
  max-width: 500px;
  margin-bottom: 20px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-toggle-checked {
  background-color: blue;
  color: whitesmoke !important;
}

form{
  margin: 10px;
}
