<div class="content">
  <div class="centered-content">
    <mat-toolbar>
      <span class="clickable" routerLink="/">{{title}}</span>

      <div class="spacer"></div>

      <nav mat-tab-nav-bar [tabPanel]="tabPanel" *appIfLoggedIn>
        <a mat-tab-link *ngFor="let link of links"
           [routerLink]="link.route"
           routerLinkActive=""
           #rla="routerLinkActive"
           [active]="rla.isActive"
        > {{link.display}} </a>
      </nav>

      <div class="spacer"></div>

      <app-user-avatar *appIfLoggedIn></app-user-avatar>
    </mat-toolbar>

    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>

  </div>
</div>
