@use '@angular/material' as mat;

mat-drawer-container{
  width: 100%;
  height: 100%;
}
// Define a dark theme
$dark-primary: mat.define-palette(mat.$amber-palette);

.dark-theme-side-nav {
  background: mat.get-color-from-palette($dark-primary);
}
