<div class="icon-header">
  <h2>Icons</h2>
  <button (click)="addFromServer()" mat-icon-button [disabled]="!validURL" matTooltip="Load icons from URL">
    <mat-icon>dns</mat-icon>
  </button>
</div>

<div *ngFor="let iconControls of icons.controls; let i = index" class="image-control-container single-line-field">
  <mat-divider *ngIf="i > 0"></mat-divider>

  <h3>Image {{i}}
    <button type="button" mat-icon-button (click)="remove(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </h3>
  <div class="half-width">
    <mat-form-field appearance="fill">
      <mat-label>Src</mat-label>
      <input [formControl]="getControl(iconControls, 'src')" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <input [formControl]="getControl(iconControls, 'type')" matInput>
    </mat-form-field>
  </div>

  <div class="half-width">
    <mat-form-field appearance="fill">
      <mat-label>Base64Image</mat-label>
      <textarea [formControl]="getControl(iconControls, 'base64Image')"
                cdkAutosizeMaxRows="10"
                cdkTextareaAutosize
                matInput
                placeholder="Encoded image ..."
      ></textarea>
    </mat-form-field>

    <img *ngIf="fav.hasValidImage(iconControls.value)"
         [src]="fav.getSafeIconURL(iconControls.value)" alt="favorite icon">
  </div>
</div>

<button (click)="add()" mat-button>
  <mat-icon>add</mat-icon>
  Add another icon
</button>
