<mat-form-field appearance="fill">
  <mat-label>Tags</mat-label>
  <mat-chip-list #chipList aria-label="Search for or create a tag...">
    <mat-chip
      *ngFor="let tag of selectedTags"
      (removed)="remove(tag)"
      matTooltipPosition="above"
      [matTooltip]="tag.description"
    >
      {{tag.key}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Search for tag..."
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.key">
      {{tag.key}} - {{tag.description}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint *ngIf="newTagsCount === 0">Find previously tags here or create new ones</mat-hint>
  <mat-hint *ngIf="newTagsCount === 1">1 new tag will be created</mat-hint>
  <mat-hint *ngIf="newTagsCount > 1">{{newTagsCount}} new tags will be created</mat-hint>
</mat-form-field>
