<app-search-panel
  [linkCount]="linkService.links().length"
  [filteredLinksCount]="filterService.filteredLinks().length"

  [tagCount]="tagService.tags().length"
  [tagSelectedCount]="filterService.filteredTags().length"

  [initialSearchParams]="filterService.linkFilters()"
  (filtersChanged)="filterService.setLinkFilters($event)"
/>

<app-link-list [links]="linkService.links()"
               [selectedTags]="filterService.filteredTags()"
               [pageSize]="localStorageService.getPaginatorSize('links')"
               (pageSizeChange)="localStorageService.setPaginatorSize('links', $event.pageSize)"

               (copyLink)="copy($event)"
               (deleteLink)="delete($event)"
               (editLink)="edit($event)"
               (openLink)="openLink($event)"

/>

<app-create-button icon="bookmark_add" [navigateTo]="createLink"></app-create-button>
