<section>
  <mat-label>Environment</mat-label>
  <!--ALL-->
  <mat-checkbox
    [checked]="allComplete"
    [color]="task.color"
    [indeterminate]="someComplete()"
    (change)="setAll($event.checked)"
    [disabled]="task.isDisabled">
    {{task.name}}
  </mat-checkbox>

  <!--Individual-->
  @for (subtask of task.subtasks; track subtask) {
    <mat-checkbox [(ngModel)]="subtask.completed"
      [color]="subtask.color"
      [disabled]="subtask.isDisabled"
      (ngModelChange)="updateAllComplete()">
      {{subtask.name}}
    </mat-checkbox>
  }
</section>
