<!--<app-top-bar title="Tags"></app-top-bar>-->

<mat-form-field appearance="fill">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Test...">
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8"
           matSort
           matSortActive="key"
           matSortDirection="asc"
>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Key Column -->
  <ng-container matColumnDef="key">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Key</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button (click)="edit($event, element)" class="mat-elevation-z0" color="primary" mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row (click)="selection.toggle(row)"
           *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>

<button mat-button [disabled]="!isAnySelected" (click)="deleteSelected()">Delete</button>

<app-create-tag-button></app-create-tag-button>
