mat-table {
  width: 100%;
  max-width: 500px;

  .mat-column-select {
    flex: 0 0 10%;
  }

  .mat-column-edit {
    flex: 0 0 10%;
  }
}

.mat-column-select{
  max-width: 50px;
}

app-create-tag-button{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
