<form [formGroup]="searchForm">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input formControlName="searchString" matInput type="text">
    <button (click)="searchControl.setValue('')" *ngIf="searchControl.value" aria-label="Clear" mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Environment</mat-label>
    <mat-select formControlName="environment" multiple>
      <mat-option *ngFor="let env of environments" [value]="env">
        {{env}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-list>
  <ng-container *ngFor="let group of filteredList | keyvalue; let i = index">
    <mat-divider *ngIf="i > 0"></mat-divider>
    <div mat-subheader>{{group.key}}</div>

    <mat-list-item *ngFor="let link of group.value">
      <mat-icon mat-list-icon><img [src]="link.icon"></mat-icon>
      <div mat-line><a [href]="link.url | safeUrl">{{link.name}}</a></div>
    </mat-list-item>

  </ng-container>
</mat-list>


<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="url">
    <th *matHeaderCellDef mat-header-cell> URL</th>
    <td *matCellDef="let element" mat-cell><a [href]="element.url">{{element.name}}</a></td>
  </ng-container>

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td *matCellDef="let element" mat-cell><img [src]="element.icon"></td>
  </ng-container>

  <ng-container matColumnDef="section">
    <th *matHeaderCellDef mat-header-cell>Section</th>
    <td *matCellDef="let element" mat-cell> {{element.section}} </td>
  </ng-container>

  <ng-container matColumnDef="environment">
    <th *matHeaderCellDef mat-header-cell>Env</th>
    <td *matCellDef="let element" mat-cell> {{element.environment}} </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th *matHeaderCellDef mat-header-cell>Tags</th>
    <td *matCellDef="let element" mat-cell> {{element.tags}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
