@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$teal-palette, 500, 100, 900),
    accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
//$light-theme: mat.define-light-theme((
//  color: (
//    primary: mat.define-palette(mat.$indigo-palette),
//    accent: mat.define-palette(mat.$pink-palette),
//  ),
//));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
//@include mat.card-theme.theme($dark-theme);
//@include mat.progress-bar-theme.theme($dark-theme);
@include mat.tooltip-theme($dark-theme);
@include mat.form-field-theme($dark-theme);
@include mat.input-theme($dark-theme);
@include mat.select-theme($dark-theme);
@include mat.autocomplete-theme($dark-theme);
@include mat.dialog-theme($dark-theme);
@include mat.chips-theme($dark-theme);
//@include mat.slide-toggle-theme($dark-theme);
//@include mat.radio-theme($dark-theme);
//@include mat.slider-theme($dark-theme);
@include mat.menu-theme($dark-theme);
//@include mat.list-theme($dark-theme);
@include mat.paginator-theme($dark-theme);
@include mat.tabs-theme($dark-theme);
//@include mat.checkbox-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.icon-button-theme($dark-theme);
@include mat.fab-theme($dark-theme);
@include mat.snack-bar-theme($dark-theme);
@include mat.table-theme($dark-theme);
//@include mat.progress-spinner-theme($dark-theme);
//@include mat.badge-theme($dark-theme);
//@include mat.bottom-sheet-theme($dark-theme);
//@include mat.button-toggle-theme($dark-theme);
//@include mat.datepicker-theme($dark-theme);
//@include mat.divider-theme($dark-theme);
//@include mat.expansion-theme($dark-theme);
//@include mat.grid-list-theme($dark-theme);
@include mat.icon-theme($dark-theme);
//@include mat.sidenav-theme($dark-theme);
//@include mat.stepper-theme($dark-theme);
@include mat.sort-theme($dark-theme);
@include mat.toolbar-theme($dark-theme);
//@include mat.tree-theme($dark-theme);


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clickable {
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

.centered-content {
  max-width: 1200px;
  padding: 1em;
  margin: auto;
}

.simple-form {
  margin: auto;
  max-width: 500px;
}

.no-link-style{
  color: inherit;
  text-decoration: inherit;
  font-style: inherit;
}

mat-row .hide-until-hover {
  opacity: 0;
  transition: opacity 300ms;
}

mat-row:hover .hide-until-hover {
  opacity: 1;
  transition: opacity 300ms;
}

app-create-button{
  position: absolute;
  bottom: 2em;
  right: 2em;
}
