<app-top-bar title="Create new link"></app-top-bar>

<p *ngIf="!params || !params.useParams">
  Bookmarklet: <a
  href="javascript:(function(){
  var url = location.href;
  var title = document.title ||

  url;window.open('http://localhost:4200/link/create?url=' + encodeURIComponent(url)+'&title=' + encodeURIComponent(title)+'&description=' + encodeURIComponent(document.getSelection())+'&source=bookmarklet','_blank','menubar=no,height=700,width=500,toolbar=no,scrollbars=no,status=no,dialog=1');})();"
>Add
  to BD Links</a>
</p>

<form (ngSubmit)="create()">
  <app-link-form [formControl]="link"></app-link-form>

  <button color="primary" mat-fab routerLink="/link" type="button">
    <mat-icon>backspace</mat-icon>
  </button>
  <button color="primary" mat-fab>
    <mat-icon>save</mat-icon>
  </button>
</form>
