<div id="search-pane">
  <mat-form-field appearance="outline">
    <mat-label>Search everything (name, url, description, tags, etc...)</mat-label>
    <input [formControl]="searchControl" matInput type="text">
    @if (searchControl.value) {
      <button (click)="searchControl.setValue('')" aria-label="Clear" mat-icon-button
        matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-hint align="end">{{linkHint}}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Search tags only</mat-label>
    <input [formControl]="searchTagControl" matInput type="text">
    @if (searchTagControl.value) {
      <button (click)="searchTagControl.setValue('')" aria-label="Clear" mat-icon-button
        matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-hint align="end">{{filterHint}}</mat-hint>
  </mat-form-field>
</div>

<div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8"
    matSort
    matSortActive="name"
    matSortDirection="asc"
    >

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header="url"> URL</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.url}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
      <mat-cell *matCellDef="let element"><a [href]="element.url" target="_blank">{{element.name}}</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</mat-header-cell>
      <mat-cell *matCellDef="let element" [matTooltip]="element.description">
        <a [href]="element.url" class="no-link-style" (click)="$event.preventDefault()">
          {{element.name}}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tags">
      <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-listbox [multiple]="true">
          @for (tag of element.tags; track trackByTagFn($index, tag)) {
            <mat-chip-option
              [matTooltip]="tag.description"
              [selectable]="true"
              [selected]="isTagSelected(tag)"
              (selectionChange)="tagClicked(tag, $event)"
              (click)="cancelClick($event)"
              >
              {{tag.key}}
            </mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="edit($event, element)" mat-icon-button class="hide-until-hover">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="copy">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="copy($event, element)" mat-icon-button class="hide-until-hover" [matTooltip]="element.url">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" class="clickable"
      (click)="rowClicked(row, $event)"
      >

    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10,25,50,100,200]"
    [pageSize]="localStorageService.getPaginatorSize('links') | async"
    >
  </mat-paginator>
</div>


<app-create-button icon="bookmark_add" [navigateTo]="createLink"></app-create-button>
