@import "../../constants";

#search-pane {
  display: flex;
  justify-content: space-between;

  mat-form-field {
    flex: 1;

    &:last-of-type {
      margin-left: $small-spacing;
    }
  }
}

mat-table {
  margin-top: $small-spacing;

  .mat-column-edit {
    flex: 0 0 $editButtonWidth;
  }

  .mat-column-copy {
    flex: 0 0 $copyButtonWidth;
  }

  .mat-column-icons {
    flex: 0 0 50px;
  }

  .mat-column-url, .mat-column-name, .mat-column-link {
    flex-grow: 1;
  }

  .mat-column-tags {
    flex-grow: 2;
  }
}
